<footer class="footer">
  <app-container>
    <div class="footer__content">
      <div class="footer__content__text">
        <img src="assets/imagens/logo-com-tagline.png" alt="">
        <p>
          Horário de atendimento: 08h - 20h (Segunda a Sábado) <br>
          Desenvolvido por Alura. Projeto fictício sem fins comerciais.
        </p>
      </div>
      <div class="footer__content__social">
        <p>Acesse nossas redes</p>
        <div class="footer__content__social__icons">
          <img src="assets/icones/whatsapp.png" alt="">
          <img src="assets/icones/instagram.png" alt="">
          <img src="assets/icones/twitter.png" alt="">
        </div>
      </div>
    </div>
  </app-container>
</footer>
