<app-banner src="assets/imagens/banner-homepage.png" alt="Banner da Aplicação Jornada"></app-banner>
<app-container>
  <app-form-busca></app-form-busca>
  <h2>Promoções</h2>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-depoimento [depoimento]="{
        texto: 'A Jornada foi uma das melhores agências de viagens que eu já experimentei. O serviço ao cliente foi excepcional, e toda a equipe foi muito atenciosa e prestativa.',
        nome: 'Lauro Matos',
        imagem: 'avatar1'}">
    </app-card-depoimento>
    <app-card-depoimento [depoimento]="{
        texto: 'Recomendo fortemente a agência de viagens Jornada. Eles oferecem um serviço personalizado e de alta qualidade que excedeu minhas expectativas em minha última viagem.',
        nome: 'Talita Magalhães',
        imagem: 'avatar2'}">
    </app-card-depoimento>
    <app-card-depoimento [depoimento]="{
        texto: 'Minha viagem com a Jornada foi incrível! Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a partir das nossas necessidades.',
        nome: 'Mariana Faustino',
        imagem: 'avatar3'}">
    </app-card-depoimento>
  </div>
</app-container>
