.app-header {
  background-color: #000000;

  .spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    background-color: #000000;
  }

  mat-toolbar button {
    color: #FFFFFF;
    margin: 0 0 0 1rem;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: #FFFFFF;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    padding: 0;
  }
}
